NEXT_PUBLIC_MOTORGEEKS_SITE_URL=https://motorgeeks.co.uk
NEXT_PUBLIC_DEALER_PORTAL_LOGIN_URL=https://portal.motorgeeks.co.uk/dealer-login
NEXT_PUBLIC_MOTORGEEKS_VALUATION_URL=/valuation
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=MotorGeeks <hello@motorgeeks.co.uk>
MOTORGEEKS_ENQUIRY_RECIPIENT=
